html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 20%, 79%);
    --MediumGrey: hsl(216, 12%, 54%);
    --MediumDarkBlue: hsl(210, 14%, 24%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

 body{
    background-color: var(--VeryDarkBlue);
}

.container {
    align-items: center;
    display: flex;
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    justify-content: center;
}

.rating-container {
    background-color: var(--DarkBlue);
    border-radius: 40px;
    padding: 30px;
    width: 400px;
}

.header-container img {
    background-color: var(--MediumDarkBlue);
    border-radius: 100px;
    margin-bottom: 15px;
    padding: 15px;
}

.white-letter {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0 0;
}

p {
    color: var(--LightGrey);
    font-size: 15px;
    line-height: 22px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 20px 0 20px 0;
    padding-right: 5px;
    padding-left: 0px;
    transition: all .4s ease-in-out;
}

.list{
    background-color: var(--MediumDarkBlue);
    border: none;
    border-radius: 100px;
    color: var(--MediumGrey);
    cursor: pointer;
    height: 48px;
    transition: all .4s ease-in-out;
    width: 50px;
}

.list:hover{
    background-color: var(--Orange);
    color: var(--White);
}

.submit-box {
    background-color: var(--Orange);
    border-radius: 26px;
    border: 2px solid var(--Orange);
    color: var(--White);
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 2px;
    margin-top: 25px;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.submit-box:hover{
    background-color: var(--White);
    border: 2px solid var(--White);
    color: var(--Orange);
}

.ty-box {
    align-items: center;
    background-color: var(--DarkBlue);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    width: 400px;
}

.ty-box img {
    margin: 10px 0 10px;
}

.option-counter {
    background-color: var(--MediumDarkBlue);
    border-radius: 20px;
    color: var(--Orange);
    margin: 20px;
    padding: 5px 20px;
}
